<header> 
    <div class="parte1">

        <a href="index.html"><img class="logo" src="assets/Logo.svg" alt="Logo Game Mania com um controle desenhado acima do nome."></a>

    </div>

        <hr> <!-- LINHA VERMELHA DIVIDINDO CABEÇALHO -->
   

    <div class="parte2-menu gridposicao2">
        <nav class= "menu">
            <a href="quemsomos">Quem Somos?</a>
            <a href="produtos">Produtos</a>
            <a href="curiosidades">Curiosidades</a>
        </nav>
    </div>   
</header>

<div class="caixa_login">
    <h2>Minha Conta</h2>

    <form action="#" method="post">
        <div class="entrada">
            <input class="inserir" type="text" id="login" placeholder="Digite seu login aqui...">
            <label for="login">Login:</label>
        </div>

        <div class="entrada">
         <input class="inserir" type="password" id="senha" placeholder="Digite sua senha aqui...">
         <label for="senha">Senha:</label>
     </div>

     <div class="center">
         <button class="clic">Entrar</button>
     </div>
    </form>

    <div class="links">
        <a class="cadastrar" href="#"><p>Esqueci minha senha</p></a>
        <a class="cadastrar" href="#"><p>Fazer meu cadastro</p></a>
    </div>
</div>

