<footer>

    <hr> <!-- LINHA VERMELHA INDICANDO SEPARAÇÃO DO BODY PARA O FOOTER -->

    <div id="rodape">

        <div class="endereco">
            <span>
                Av.  Olegário Prestes, 1015 - Vila da Prata <br>
                São Paulo - SP <br>
                Telefone: 11 2101-3345 <br>
                CNPJ 11.261.451/0001-65 <br>
                E-mail: informacoes@gamemania.com.br</span>
        </div>

        <div class="formpag_horariofunc">
            <span>Aceitamos  várias formas de pagamento!</span>
            <img src="assets/bandeiras.png" alt="Icone das bandeiras de cartoes.">
            <span>Horário de Atendimento <br>
                Loja Física: <br>
                Seg á Sex. das 09h às 18h. <br>
                Sáb. das 09h às 13h</span>
        </div>
        
        <div class="redes_sociais">
            <span>Siga-nos nas Redes Sociais <br>
                e acompanhe  as novidades. </span>
                <div class="icon_redesSociais">
                    <a href="https://web.whatsapp.com/"><img src="assets/whatsapp.png" alt="Icone do whatsapp."></a>
                    <a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="Icone do instragram."></a>
                    <a href="https://www.facebook.com/"><img src="assets/facebook.png" alt="Icone do facebook."></a>
                </div>   
        </div>
    </div>
</footer>
