<app-header></app-header>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="/assets/javascript/jquery-3.6.0.js"></script> <!--INSERINDO JQUERY NO HTML-->

<!-- BANNER (bootstrap)-->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/controle.png" class="d-block w-100" alt="Trio Mario Bros.">
      </div>
      <div class="carousel-item">
        <img src="assets/ps4mao.png" class="d-block w-100" alt="Controle PS4 fundo preto.">
      </div>
      <div class="carousel-item">
        <img src="assets/triomariobros.png" class="d-block w-100" alt="Mão próximo controle PS4 branco e fundo cinza.">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- SEÇÃO DESTAQUE DE PROMOÇÕES -->

<div class="campo_titulo">

    <div class="box">
    <p>Destaques do mês!</p>
    </div>

</div>

<section class="destaques" id="destaques">
    
    <div class="card">
        <div class="icon">
            <img src="assets/conjPS4.svg" alt="Conjunto PS4">
        </div>
        <h3>Conjunto PS4 Completo</h3>
        <span>De: R$ 7.549,90</span>
        <h3>Por: R$ 5.999,90</h3>
        <button class="add_carrinho">Comprar</button>

    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/ps4Fifa22.svg" alt="Jogo FIFA22">
        </div>
        <h3>Jogo FIFA22 PS4</h3>
        <span>De: R$ 349,90</span>
        <h3>Por: R$ 284,90</h3>
        <button class="add_carrinho">Comprar</button>

    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/tecladoGamer.svg" alt="Teclado Gamer">
        </div>
        <h3>Teclado Gamer</h3>
        <span>De: R$ 298,90</span>
        <h3>Por: R$ 199,90</h3>
        <button class="add_carrinho">Comprar</button>

    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/cadeiraGamer.svg" alt="Cadeira Gamer">
        </div>
        <h3>Cadeira Gamer</h3>
        <span>De: R$ 1.229,90</span>
        <h3>Por: R$ 899,90</h3>
        <button class="add_carrinho">Comprar</button>

    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/controlePS4.svg" alt="Controles PS4">
        </div>           
        <h3>Par de Controle PS4</h3>
        <span>De: R$ 749,90</span>
        <h3>Por: R$ 659,90</h3>
        <button class="add_carrinho">Comprar</button>

    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/mouseGamer.svg" alt="Mouse Gamer">
        </div>
        <h3>Mouse Gamer</h3>
        <span>De: R$ 259,90</span>
        <h3>Por: R$ 179,90</h3>
        <button class="add_carrinho">Comprar</button>

    </div>
</section>

<!-- INFORMAÇÕES EXTRAS -->
<article class="info">
    <div class="textoPrincipal">
        <h1>Loja Game Mania, uma loja completa em Tecnologia.</h1>
    </div>
    
    <div class="avisos">
        <div class="parcelamento">
            <img src="assets/payment.svg" alt="Icone de Pagamento parcelado">
            <span>Parcelamento em até <br> 10 x sem juros.</span>
        </div>

        <div class="entrega">
            <img src="assets/Logistic.svg" alt="Icone de entrega">
            <span>Entrega Rápida e <br> de Qualidade. <br> Frete Grátis.*</span>
        </div>

        <div class="seguranca">
            <img src="assets/Security.svg" alt="Icone de site seguro">
            <span>Site Seguro, <br> Compra Segura!</span>
        </div>

        <div class="assistencia">
            <img src="assets/assistencia.svg" alt="Icone moça com headphone de assistencia ao cliente">
            <span>Temos serviço de assistência <br> em Tecnologia e Jogos.</span>
        </div>
    </div>

    <div class="asterisco">
        <p>*Frete Grátis, para todo Brasil, nas compras acima de R$ 150,00.</p>
    </div>
</article>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/javascript/script.js"></script>