<app-header></app-header>


<section class="produtos" id="prods">
    <div class="campo_titulo">

        <div class="box">
        <p>Produtos</p>
        </div>

    </div>

        <!--data-bs-toggle="modal" data-bs-target="#exampleModal" é propriedade bootstrap para acionar o modal-->
    
    <div class="card_prod">
        <div class="icone">
            <img src="assets/pc.png" alt="Computador">
        </div>
        <button class="botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Computadores</button>

    </div>
    <div class="card_prod">
        <div class="icone">
            <img src="assets/vgame.png" alt="Controles Play Station 4">
        </div>
        <button class="botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Video Games</button>

    </div>
    <div class="card_prod">
        <div class="icone">
            <img src="assets/notebooks.png" alt="Notebook com o bonequinho do Mario Bros.">
        </div>
        <button class="botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Notebooks</button>

    </div>
    <div class="card_prod">
        <div class="icone">
            <img src="assets/celulares.png" alt="Celular e acessórios">
        </div>
        <button class="botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Celulares</button>

    </div>
    <div class="card_prod">
        <div class="icone">
            <img src="assets/jogos.png" alt="Imagem jogo Fortinite">
        </div>           
        <button class="botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Jogos</button>

    </div>
    <div class="card_prod">
        <div class="icone">
            <img src="assets/mobiliario.png" alt="Mobiliario de quarto com computador.">
        </div>
        <button class="botao" data-bs-toggle="modal" data-bs-target="#exampleModal">Mobiliário</button>

    </div>
</section>

<!-- Modal - bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">AVISO IMPORTANTE</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Olá, esta seção está em construção preparando muitas novidades para você! <br> Agradecemos pela compreensão.<br>Volte sempre!
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
    </div>
  </div>
</div>
</div>
<!-- Fim Modal -->