<header> 
    <div class="parte1">

        <a href="index.html"><img class="logo" src="assets/Logo.svg" alt="Logo Game Mania com um controle desenhado acima do nome."></a>
   
        <div class="barra_pesquisa">
            <input id="myInput" class="pesquisa" type="text" placeholder="Pesquise aqui e veja abaixo..." required>
            <a href="#" class="pesquisa_btn"><img src="assets/Search.svg" alt="Botão de busca"></a>
        </div>
        
        <div class="cadastro_compras">

            <div class="minha_conta">
                <a href="minhaconta" class="icons"><img src="assets/login.png" alt="Imagem do login minha conta"></a>
                <p>Minha conta</p>
            </div>
            
            <div class="meu_carrinho">
                <a href="#" class="icons"><img src="assets/carrinho.png" alt="Carrinho de compras"></a>
                <p>Meu carrinho</p>
            </div>
            <span id="i_cart_total">0</span>

        </div>
    </div>
        
    <hr> <!-- LINHA VERMELHA DIVIDINDO CABEÇALHO -->

    <div class="parte2-menu gridposicao2">
        <nav class= "menu">
            <a href="quemsomos">Quem Somos?</a>
            <a href="produtos">Produtos</a>
            <a href="curiosidades">Curiosidades</a>
        </nav>
    </div>
</header>
