<app-header></app-header>

<div class="titulo">
    <h1 class="pergunta">Você Sabia?</h1>
    <img src="assets/estrelinha.jpg" alt="Estrelinha do Mario Bros em um bolso de camiseta.">
</div>

<article class="curiosidades">
    <div class="curios1">
        <img class="imagem" src="assets/nintendo.jpg" alt="Imagem jogo Mario Bros com céu">
        <p class="ptodos">A real tradução da palavra “Nintendo” é: “Leve sorte aos céus”. 
            Talvez seja por isso que o Super Mario vivia pulando e tentando alcançar o céu.</p>
    </div>
    <div class="curios2">
        <p class="ptodos">A Sony é, hoje em dia, uma marca muito famosa e conhecida mas ela começou
            com um produto que não tem nada a ver com o que faz hoje em dia.
            O primeiro produto da marca foi nada mais nada menos que uma panela elétrica.</p>
        <img class="imagem" src="assets/sony.jpg" alt="Logo da Sony">
    </div>
    <div class="curios1">
        <img class="imagem" src="assets/megaman.jpg" alt="Megaman">
        <p class="ptodos">O famoso e adorado Megaman só era azul porque o NES tem uma variação de
            cores muito pequena para ser mostrada.</p>
    </div>
    <div class="curios1">
        <p class="ptodos">Se você procurar na barra do google por “Do a barrel roll” a tela do seu
            computador vai dar uma volta completa. <br> Será mesmo? Vamos tentar!</p>
        <img class="imagem" src="assets/chrome.jpg" alt="Logo Chrome">
    </div>
    <div class="curios2">
        <img class="imagem" src="assets/mario.jpg" alt="Imagem Mario Bros com cogumelo verde">
        <p class="ptodos">O famoso Mario nunca recebeu um sobrenome oficial pela Nintendo. É claro
            que o “Mario Bros” sugere que o nome do personagem seja “Mario Mario” e essa é a
            única conclusão que podemos tirar do nome do adorado Super Mario.</p>
    </div>
</article>
