<app-header></app-header>

<main>
    <h1>Quem Somos?</h1>
    <img class="interrogacao" src="assets/interrogacao.png" alt="">
        <p class="pqs">
            A loja Game Mania iniciou suas atividades há 10 anos somente como loja física,
            vendendo artigos de informática em geral, mobiliários para esciritório,
            papelaria e até prestava alguns serviços de impressões.
        </p>

        <p class="pqs">
            Com o passar do tempo, nossa loja cresceu e a qualidade de atendimento e dos produtos
            que oferecemos cativou ainda mais nossos clientes! <br>
            Sendo assim, resolvemos introduzir também nossa loja virtual. <br>
            Ela auxilia muito quando você não tem tempo de ir até a loja física e ainda tem toda assistência
            online da mesma forma que presencial.
        </p>

        <h2>Somos uma loja com diferencial:</h2>
        
        <ul class="diferenciais">
            <li>Auxiliamos a montar seu computador e até mesmo
                um escritório completo do jeitinho que quiser;
            </li>
            
            <li>Para os jogadores, temos uma diversidade de jogos e também a assistência de dicas
                para jogar com mais experiência;
            </li>

            <li>Melhores preços; </li>

            <li>Produtos de alta qualidade;</li>
        </ul>

        <h3>E muito mais!</h3>

        <p class="pqs">
            Acesse nosso site e adquira seus produtos! Ah, e se tiver alguma dúvida:
            é só chamar! Atendemos por telefone e Whatsapp. Aproveite também e veja nossas novidades
            no Instagram e Facebook.
        </p>            
</main>