header{
    background-color: #B8BCBD; /*definindo cor de fundo e altura do header*/
    height: 200px;
}

.parte1{
    width: 1520px; /* definindo largura para espaçar laterais da tela */
    margin: 0 auto;
    height: 197px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parte1 img{
    width: 100%;
    height: 100%;
}

hr{ /*linha vermelha que divide o cabeçalho em 2 partes*/
    width: 100%;
    border: 0;
    border-top: 3px solid #FF0101;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.notf{ /*imagem not found*/
    width: 100%;
}

@media (max-width: 1520px){
    .parte1{ 
        width: 97%;
    }
}